.banner {
  display: grid;
  justify-content: center;
  background-color: whitesmoke;
  padding: 1.5rem;
  margin: 2rem 0;

  .banner_content {
    display: grid;
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    h2 {
      justify-self: center;
      color: rgba(70, 64, 64, 0.788);
    }

    .form {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 100%;

      #banner-img {
        font-size: 12px;
        color: #f7aa1b;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      .form_image {
        justify-self: center;
        width: 180px;
        height: 220px;
      }

      .assetsList {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .asset {
          display: flex;
          flex-direction: column;
          width: 100px;
          .input-group {
            width: 100%;
          }
          .asset_image {
            width: 90px;
            height: 120px;
          }
        }
      }
    }
  }
}

// Rich Text Editor

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
